<template>
  <div>
    <q-tabs v-model="tab" class="text-teal" style="height: 60px;">
      <q-tab name="posto" icon="fas fa-gas-pump" label="Postos"/>
      <q-tab name="mapa" icon="fas fa-globe-americas" label="Mapa" />
      <q-tab name="login" icon="fas fa-user-circle" label="Login" />
    </q-tabs>

    <q-tab-panels v-model="tab" animated>
      <q-tab-panel name="posto">
        <div class="text-h6">Postos</div>Aqui vai ficar as listas dos postos
      </q-tab-panel>
      
      <q-tab-panel name="mapa" style="width: 100%; border: none; margin-left: -4%; margin-top: -4%; margin-bottom: -4%;">        
        <div class="mapa-estilo">
          <!-- <q-card>
          <q-select
            filled
            v-model="model"
            use-input
            dense="true"
            input-debounce="0"
            label="Filtrar por..."
            :options="options"
            @filter="filterFn"
            behavior="menu"
          >
            <template v-slot:no-option>
              <q-item>
                <q-item-section class="text-grey">Nenhum resultado encontrado</q-item-section>
              </q-item>
            </template>
          </q-select>
        </q-card> -->

          <l-map :zoom="zoom" :center="cent">
            <l-tile-layer :url="url"></l-tile-layer>
            <l-marker :lat-lng="marcacao"></l-marker>
            <l-marker :lat-lng="[-1.462623, -48.481318]">
              <l-icon
                :icon-size="dynamicSize"
                :icon-anchor="dynamicAnchor"
                icon-url="https://png.pngtree.com/png-clipart/20190614/original/pngtree-vector-fuel-station-icon-png-image_3762917.jpg"
              />
            </l-marker>

            <l-marker :lat-lng="[-1.462623, -48.475318]">
              <l-icon
                :icon-size="dynamicSize"
                :icon-anchor="dynamicAnchor"
                icon-url="https://png.pngtree.com/png-clipart/20190614/original/pngtree-vector-fuel-station-icon-png-image_3762917.jpg"
              />
            </l-marker>

            <l-marker :lat-lng="[-1.462623, -48.461318]">
              <l-icon
                :icon-size="dynamicSize"
                :icon-anchor="dynamicAnchor"
                icon-url="https://png.pngtree.com/png-clipart/20190614/original/pngtree-vector-fuel-station-icon-png-image_3762917.jpg"
              />
            </l-marker>

            <l-marker :lat-lng="[-1.562623, -48.421318]">
              <l-icon
                :icon-size="dynamicSize"
                :icon-anchor="dynamicAnchor"
                icon-url="https://png.pngtree.com/png-clipart/20190614/original/pngtree-vector-fuel-station-icon-png-image_3762917.jpg"
              />
            </l-marker>
            <l-marker :lat-lng="marcacao"></l-marker>
            <l-marker :lat-lng="marcacao"></l-marker>

            <q-btn round color="primary" icon="fas fa-search"/>
          </l-map>          
        </div>
      </q-tab-panel>

      <q-tab-panel name="login">
        <div class="text-h6">Login</div>Aqui vai ficar a tela de login
      </q-tab-panel>
    </q-tab-panels>

  </div>
</template> 

<style lang="stylus" scoped>
.mapa-estilo {
  height: 90vh;
  width: 100vw; 
}
</style>

<script>
const stringOptions = ["Companhia", "Posto", "Preço", "Tipo de Combustivel"];

export default {
  data() {
    return {
      url: "http://{s}.tile.osm.org/{z}/{x}/{y}.png",
      zoom: 25,
      cent: [-1.462623, -48.491347],
      marcacao: [-1.462623, -48.491347],
      icon: L.icon({
        iconUrl:
          "https://png.pngtree.com/png-clipart/20190614/original/pngtree-vector-fuel-station-icon-png-image_3762917.jpg",
        iconSize: [32, 37],
        iconAnchor: [16, 37]
      }),
      staticAnchor: [16, 37],
      customText: "Foobar",
      iconSize: 42,
      tab: "mapa",
      model: null,
      stringOptions,
      options: stringOptions
    };
  },

  computed: {
    dynamicSize() {
      return [this.iconSize, this.iconSize * 1.15];
    },
    dynamicAnchor() {
      return [this.iconSize / 2, this.iconSize * 1.15];
    }
  },

  methods: {    
    filterFn(val, update) {
      if (val === "") {
        update(() => {
          this.options = stringOptions;
        });
        return;
      }

      update(() => {
        const needle = val.toLowerCase();
        this.options = stringOptions.filter(
          v => v.toLowerCase().indexOf(needle) > -1
        );
      });
    }
  },
};
</script>

