<template>
  <q-layout view="lhr LpR lfr">
    <q-page-container>
      <q-linear-progress query class="q-mt-sm" v-if="loading" />
      <div class="q-pa-md">
        <div class="row">
          <div class="col-12" id="titulo">LOCALIZADOR DE COMBUSTÍVEL</div>
        </div>
      </div>

      <div class="q-pa-md q-gutter-sm">
        <div class="row">
          <div class="col-12" id="login">
            <q-avatar size="100px" font-size="100px" text-color="black" icon="fas fa-user-circle"></q-avatar>
            <br />
            <br />
            <strong>Faça Login para Entrar no Sistema</strong>

            <q-input type="email" label="Email" v-model="email">
              <template v-slot:prepend>
                <q-icon name="far fa-user" />
              </template>
            </q-input>

            <q-input type="password" label="Senha" v-model="senha">
              <template v-slot:prepend>
                <q-icon name="fa fa-eye-slash" />
              </template>
            </q-input>
            <br />
            <q-btn color="primary" @click="login" icon="arrow_forward">Entrar</q-btn>
            <br />
            <br />

            <p>Esqueceu a senha?</p>

            <p>
              Ou entre com...
              <br />
              <q-btn
                round
                color="blue"
                size="lg"
                icon="fab fa-facebook"
                style="margin-right: 15%;"
                @click="loginFacebook"
              />
              <q-btn
                round
                color="red"
                size="lg"
                icon="fab fa-google"
                style="margin-left: 15%;"
                @click="loginEmail"
              />
            </p>

          </div>
        </div>
      </div>
    </q-page-container>
  </q-layout>
</template>

<script>
import firebase from "firebase";
import notificacoes from "@/services/commons/notificacoes.js";
import { db } from "@/config/db";

export default {
  name: "login",
  data() {
    return {
      email: "",
      senha: "",
      loading: false
    };
  },
  
  methods: {
    login: function() {
      this.loading = true;
      firebase
        .auth()
        .signInWithEmailAndPassword(this.email, this.senha)
        .then(
          user => {
            this.$router.replace("home");
            this.loading = false;
          },
          err => {
            if (this.email.length == 0 && this.senha.length == 0) {
              notificacoes.methods.alert("Digite seu Login e senha");
              this.loading = false;
            } else if (this.email.length == 0) {
              notificacoes.methods.alert("Digite seu Login");
              this.loading = false;
            } else if (this.senha.length == 0) {
              notificacoes.methods.alert("Digite sua Senha");
              this.loading = false;
            } else {
              notificacoes.methods.error("Login ou Senha Inválidas");
              this.loading = false;
            }
          }
        );
    },

    loginEmail: function() {
      this.$router.push("/registrar");
    },

    loginFacebook: function() {
      var provider = new firebase.auth.FacebookAuthProvider();

      firebase
        .auth()
        .signInWithPopup(provider)
        .then(result => {
          var token = result.credential.accessToken;
          var usuario = result.user;
          this.$session.start();
          this.$session.set("usuario", usuario)
          this.$router.replace("/home");
        });
    },
  }
};
</script>
  
<style lang="stylus" scoped>
#titulo {
  text-align: center;
  font-size: 20px;
}

#login {
  text-align: center;
}
</style>