<template>
  <q-list>
    <div class="column items-center">
      <br />
      <q-avatar size="72px">
        <img src="https://graph.facebook.com/2543882569060230/picture" />
      </q-avatar>

      <div class="text-subtitle1 q-mt-md q-mb-xs">Leandro Augusto</div>

      <q-btn
        color="primary"
        label="Sair"
        @click="logout"
        push
        size="sm"
        icon="fas fa-sign-out-alt"
      />
      <br />
    </div>

    <q-separator />

    <q-item clickable tag="a" to="/home">
      <q-item-section avatar>
        <q-icon name="fas fa-home" />
      </q-item-section>
      <q-item-section>
        <q-item-label>Inicio</q-item-label>
        <q-item-label caption>Tela de Inicio</q-item-label>
      </q-item-section>
    </q-item>

    <q-item clickable tag="a" to="/companhia">
      <q-item-section avatar>
        <q-icon name="fas fa-building" />
      </q-item-section>
      <q-item-section>
        <q-item-label>Companhia</q-item-label>
        <q-item-label caption>Cadastro de Companhias de Combustível</q-item-label>
      </q-item-section>
    </q-item>

    <q-item clickable tag="a" to="/posto">
      <q-item-section avatar>
        <q-icon name="local_gas_station" />
      </q-item-section>
      <q-item-section>
        <q-item-label>Posto</q-item-label>
        <q-item-label caption>Cadastro de Postos de Combustível</q-item-label>
      </q-item-section>
    </q-item>

    <q-item clickable tag="a" to="/tipo-produto">
      <q-item-section avatar>
        <q-icon name="fas fa-briefcase" />
      </q-item-section>
      <q-item-section>
        <q-item-label>Tipos de Produtos</q-item-label>
        <q-item-label caption>Cadastro de Tipos de Produtos</q-item-label>
      </q-item-section>
    </q-item>

    <q-item clickable tag="a" to="/produto">
      <q-item-section avatar>
        <q-icon name="fas fa-briefcase" />
      </q-item-section>
      <q-item-section>
        <q-item-label>Produtos</q-item-label>
        <q-item-label caption>Cadastro de Produtos</q-item-label>
      </q-item-section>
    </q-item>

    <q-item clickable tag="a" to="/registrar">
      <q-item-section avatar>
        <q-icon name="fas fa-user-circle" />
      </q-item-section>
      <q-item-section>
        <q-item-label>Login</q-item-label>
        <q-item-label caption>Cadastrar Novo Usuário</q-item-label>
      </q-item-section>
    </q-item>

    <q-item clickable tag="a" to="/about">
      <q-item-section avatar>
        <q-icon name="fas fa-info" />
      </q-item-section>
      <q-item-section>
        <q-item-label>Sobre</q-item-label>
        <q-item-label caption>Informaçoes sobre o App</q-item-label>
      </q-item-section>
    </q-item>
  </q-list>
</template>


<script>
export default {
  data() {
    return {
      
    };
  },

  beforeCreate: function() {
    if (!this.$session.exists()) {
      this.$router.push("/");
    }
  },

  methods: {
    logout() {
      this.$session.destroy();
      this.$router.push("/");  
    }
  }
};
</script>