<template>
  <div class="q-pa-md">
    <q-card style="margin-left: -2%; margin-right: -2%;">
      <q-tabs
        v-model="tab"
        dense
        class="text-grey"
        active-color="primary"
        indicator-color="primary"
        align="justify"
        narrow-indicator
      >
        <q-tab name="cadastro" label="Cadastrar" />
        <q-tab name="pesquisa" label="Pesquisar" />
      </q-tabs>

      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="cadastro">
          <q-form v-on:submit.prevent="salvar" @reset="onReset" class="q-gutter-md">
            <q-input
              filled
              dense="true"
              label="Nome da Companhia *"
              lazy-rules
              type="text"
              v-model="formComp.nome"
              :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
            />

            <q-input
              filled
              dense="true"
              label="CNPJ *"
              lazy-rules
              mask="##.###.###/####-##"
              v-model="formComp.cnpj"
              bottom-slots
              required
              :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
            />

            <q-input
              id="cep"
              filled
              dense="true"
              label="CEP *"
              lazy-rules
              mask="#####-###"
              v-on:keyup="buscarEnderecoCep"
              v-model="formComp.cep"
              :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
            />

            <q-input
              id="endereco"
              filled
              dense="true"
              label="Endereço *"
              lazy-rules
              type="text"
              v-model="formComp.endereco"
              :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
            />

            <q-input
              filled
              dense="true"
              label="Complemento"
              lazy-rules
              type="text"
              v-model="formComp.complemento"
            />
            <br />
            <q-input
              filled
              label="Número *"
              lazy-rules
              dense="true"
              v-model="formComp.numero"
              type="text"
              :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
            />

            <q-input
              id="bairro"
              filled
              dense="true"
              label="Bairro *"
              lazy-rules
              type="text"
              v-model="formComp.bairro"
              :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
            />

            <q-input
              id="cidade"
              filled
              dense="true"
              label="Cidade *"
              lazy-rules
              type="text"
              v-model="formComp.cidade"
              :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
            />

            <q-input
              id="uf"
              filled
              dense="true"
              label="UF *"
              lazy-rules
              maxlength="2"
              v-model="formComp.uf"
              :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
            />

            <div>
              <q-btn label="Cadastrar" type="submit" color="primary" />
              <q-btn label="Limpar" type="reset" color="primary" flat class="q-ml-sm" />
            </div>
          </q-form>
        </q-tab-panel>

        <q-tab-panel name="pesquisa">
          <q-table
            grid
            :data="data"
            :columns="columns"
            row-key="id"
            :filter="filter"
            hide-header
            selection="single"
            :selected.sync="selected"
          >
            <template v-slot:top-left>
              <q-input borderless dense debounce="300" v-model="filter" placeholder="Procurar" >
                <template v-slot:append>
                  <q-icon name="search" />
                </template>
              </q-input>

              <q-btn icon="delete" size="14px" color="red" @click="deletar()"/>
              <q-btn icon="update" size="14px" color="primary" style="margin-left: 5%;"/>
            </template>
          </q-table>

          {{selected}}

        </q-tab-panel>
      </q-tab-panels>
    </q-card>
  </div>
</template>

<script>
import { db } from "@/config/db";
import notificacoes from "@/services/commons/notificacoes.js";
import axios from "axios";

export default {
  components: {
    name: "Adicionar"
  },

  firestore() {
    return {
      companhia: db.collection("companhia")
    };
  },

  data() {
    return {
      selected: [],
      tab: "cadastro",
      formComp: {
        nome: "",
        cnpj: "",
        cep: "",
        cidade: "",
        uf: "",
        endereco: "",
        complemento: "",
        numero: "",
        bairro: ""
      },
      loading: false,
      filter: "",
      columns: [
        {
          name: "nome",
          required: true,
          label: "Companhia",
          align: "left",
          field: "nome",
          sortable: true
        },
        { name: "cnpj", label: "CNPJ", field: "cnpj" },
        { name: "cep", label: "CEP", field: "cep" },
        { name: "cidade", label: "Cidade", field: "cidade" },
        { name: "uf", label: "UF", field: "uf" },
        { name: "endereco", label: "Endereço", field: "endereco" },
        { name: "complemento", label: "Complemento", field: "complemento" },
        { name: "numero", label: "Número", field: "numero" },
        { name: "bairro", label: "Bairro", field: "bairro" }
      ],
      data: [{}]
    };
  },

  mounted() {
    axios.get("http://localhost:8089/companhia").then(response => {
      this.data = response.data;
    });
    console.log(this.selected)
  },

  methods: {
    salvar: function(data) {
      this.$q.loading.show({
        message: "Gravando dados..."
      });
      axios
        .post("http://localhost:8089/companhia", {
          nome: this.formComp.nome,
          cnpj: this.formComp.cnpj,
          cep: this.formComp.cep,
          cidade: this.formComp.cidade,
          uf: this.formComp.uf,
          endereco: this.formComp.endereco,
          complemento: this.formComp.complemento,
          numero: this.formComp.numero,
          bairro: this.formComp.bairro
        })
        .then(response => {
          data = response.data;
          this.$q.loading.hide();
          notificacoes.methods.info("Posto Cadastrado com Sucesso");
        });
    },

    deletar: function(selected){
      axios.delete("http://localhost:8089/companhia" + selected)
    },

    adicionar: function() {
      this.$q.loading.show({
        message: "Gravando dados..."
      });
      this.$firestore.companhia
        .add({
          nome_companhia: this.formComp.nome,
          cnpj: this.formComp.cnpj,
          cep: this.formComp.cep,
          cidade: this.formComp.cidade,
          uf: this.formComp.uf,
          endereco: this.formComp.endereco,
          complemento: this.formComp.complemento,
          numero: this.formComp.numero,
          bairro: this.formComp.bairro
        })
        .then(dados => {
          notificacoes.methods.info("Companhia Cadastrada com Sucesso");
          this.$q.loading.hide();
        })
        .catch(error => {
          notificacoes.methods.info("Ocorreu um Erro ao Cadastrar Registro");
          this.$q.loading.hide();
        });
      this.$router.push("/companhia");
    },

    buscarEnderecoCep: function() {
      console.log("entrou porra");

      var cep = $(this)
        .val()
        .replace(/\D/g, "");

      if (cep != "") {
        var validacep = /^[0-9]{8}$/;

        if (validacep.test(cep)) {
          $("#endereco").val("...");
          $("#bairro").val("...");
          $("#cidade").val("...");
          $("#uf").val("...");

          $.getJSON(
            "https://viacep.com.br/ws/" + cep + "/json/?callback=?",
            function(dados) {
              if (!("erro" in dados)) {
                $("#endereco").val(dados.logradouro);
                $("#bairro").val(dados.bairro);
                $("#cidade").val(dados.localidade);
                $("#uf").val(dados.uf);
              } else {
                alert("CEP não encontrado.");
              }
            }
          );
        }
      }
    }
  }
};
</script>



