<template>
  <div class="q-pa-md">
    <q-card style="margin-left: -2%; margin-right: -2%;">
      <q-tabs
        v-model="tab"
        dense
        class="text-grey"
        active-color="primary"
        indicator-color="primary"
        align="justify"
        narrow-indicator
      >
        <q-tab name="cadastro" label="Cadastrar" />
        <q-tab name="pesquisa" label="Pesquisar" />
      </q-tabs>

      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="cadastro">
          <q-form v-on:submit.prevent="salvarPosto" @reset="onReset" class="q-gutter-md">
            <div style="margin-left: %;">Companhia:</div> 
            <select v-model="formPost.companhia">
              <option
                v-for="companhia in selecionarCompanhia"
                :key="companhia.key"
                :value="companhia"
              >{{companhia.nome}}</option>
            </select>

            <!-- <q-select
              filled
              dense="true"
              label="Companhia *"
              lazy-rules
              type="text"
              v-model="formPost.companhia"
              :options="ccp"
              :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
            /> -->

            <q-input
              filled
              dense="true"
              label="Nome do Posto *"
              lazy-rules
              type="text"
              v-model="formPost.posto"
              :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
            />

            <ba-input-cnpj
              filled
              dense="true"
              label="CNPJ *"
              lazy-rules
              v-model="formPost.cnpj"
              bottom-slots
              required
              :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
            />

            <q-input
              filled
              dense="true"
              label="CEP *"
              lazy-rules
              mask="#####-###"
              v-model="formPost.cep"
              :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
            />

            <q-input
              filled
              dense="true"
              label="Endereço *"
              lazy-rules
              type="text"
              v-model="formPost.endereco"
              :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
            />

            <q-input
              filled
              dense="true"
              label="Complemento"
              lazy-rules
              type="text"
              v-model="formPost.complemento"
            />
            <br />
            <q-input
              filled
              label="Número *"
              lazy-rules
              dense="true"
              v-model="formPost.numero"
              type="text"
              :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
            />

            <q-input
              filled
              dense="true"
              label="Bairro *"
              lazy-rules
              type="text"
              v-model="formPost.bairro"
              :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
            />

            <q-input
              filled
              dense="true"
              label="Cidade *"
              lazy-rules
              type="text"
              v-model="formPost.cidade"
              :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
            />

            <q-input
              filled
              dense="true"
              label="UF *"
              lazy-rules
              v-model="formPost.uf"
              :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
            />

            <q-input
              filled
              dense="true"
              label="Latitude *"
              lazy-rules
              v-model="formPost.latitude"
              :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
            />

            <q-input
              filled
              dense="true"
              label="Longitude *"
              lazy-rules
              v-model="formPost.longitude"
              :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
            />

            <div>
              <q-btn label="Cadastrar" type="submit" color="primary" />
              <q-btn label="Limpar" type="reset" color="primary" flat class="q-ml-sm" />
            </div>
          </q-form>
        </q-tab-panel>

        <q-tab-panel name="pesquisa">
          <q-table grid :data="data" :columns="columns" row-key="name" :filter="filter" hide-header>
            <template v-slot:top-left>
              <q-input borderless dense debounce="300" v-model="filter" placeholder="Procurar">
                <template v-slot:append>
                  <q-icon name="search" />
                </template>
              </q-input>
            </template>
          </q-table>
        </q-tab-panel>
      </q-tab-panels>
    </q-card>
  </div>
</template>

<script>
import { db } from "@/config/db";
import notificacoes from "@/services/commons/notificacoes.js";
import axios from "axios";
import { stringify } from "querystring";

export default {
  components: {
    name: "Adicionar"
  },

  firestore() {
    return {
      posto: db.collection("posto"),
      data: db.collection("posto"),
      // selecionarCompanhia: db.collection("companhia")
    };
  },

  data() {
    return {
      tab: "cadastro",
      formPost: {
        companhia: {},
        posto: "",
        cnpj: "",
        cep: "",
        cidade: "",
        uf: "",
        endereco: "",
        complemento: "",
        numero: "",
        bairro: "",
        latitude: "",
        longitude: "",
      },
      loading: false,
      selecionarCompanhia: {},
      filter: "",
      columns: [
        {
          name: "companhia.nome",
          label: "Companhia",
          field: "companhia.nome",
          sortable: true
        },
        { name: "posto", label: "Posto", field: "posto", sortable: true },
        { name: "cnpj", label: "CNPJ", field: "cnpj" },
        { name: "cep", label: "CEP", field: "cep" },
        { name: "cidade", label: "Cidade", field: "cidade" },
        { name: "uf", label: "UF", field: "uf" },
        { name: "endereco", label: "Endereço", field: "endereco" },
        { name: "complemento", label: "Complemento", field: "complemento" },
        { name: "numero", label: "Número", field: "numero" },
        { name: "bairro", label: "Bairro", field: "bairro" }
      ],
      data: [{}]
    };
  },

  mounted() {
    axios.get("http://localhost:8089/companhia").then(response => {
      this.selecionarCompanhia = response.data;
    });

    axios.get("http://localhost:8089/posto").then(response => {
      this.data = response.data;
      console.log(this.data[1].companhia.nome)
    });
  },

  methods: {
    salvarPosto(data) {
      this.$q.loading.show({
        message: "Gravando dados..."
      });
      axios
        .post("http://localhost:8089/posto", {
          companhia: this.formPost.companhia,
          posto: this.formPost.posto,
          cnpj: this.formPost.cnpj,
          cep: this.formPost.cep,
          cidade: this.formPost.cidade,
          uf: this.formPost.uf,
          endereco: this.formPost.endereco,
          complemento: this.formPost.complemento,
          numero: this.formPost.numero,
          bairro: this.formPost.bairro,
          latitude: this.formPost.latitude,
          longitude: this.formPost.longitude
        })
        .then(function(response) {
          data = response.data;
          this.$q.loading.hide();
          notificacoes.methods.info("Posto Cadastrado com Sucesso");
        });
        this.$router.push("/posto");
    },

    adicionar: function() {
      this.$q.loading.show({
        message: "Gravando dados..."
      });
      this.$firestore.posto
        .add({
          companhia: this.formPost.companhia,
          posto: this.formPost.posto,
          cnpj: this.formPost.cnpj,
          cep: this.formPost.cep,
          cidade: this.formPost.cidade,
          uf: this.formPost.uf,
          endereco: this.formPost.endereco,
          complemento: this.formPost.complemento,
          numero: this.formPost.numero,
          bairro: this.formPost.bairro,
          longitude: this.formPost.longitude,
          latitude: this.formPost.latitude
        })
        .then(dados => {
          notificacoes.methods.info("Posto Cadastrado com Sucesso");
          this.$q.loading.hide();
        })
        .catch(error => {
          notificacoes.methods.info("Ocorreu um Erro ao Cadastrar Registro");
          this.$q.loading.hide();
        });
      this.$router.push("/posto");
    }
  }
};
</script>



