<template>
  <div class="q-pa-md">
    <q-card>
      <q-tabs
        v-model="tab"
        dense
        class="text-grey"
        active-color="primary"
        indicator-color="primary"
        align="justify"
        narrow-indicator
      >
        <q-tab name="cadastro" label="Cadastrar" />
        <q-tab name="pesquisa" label="Pesquisar" />
      </q-tabs>

      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="cadastro">
          <q-form v-on:submit.prevent="adicionar" @reset="onReset" class="q-gutter-md">
            
            <select v-model="formProd.posto">
              <option
                v-for="posto in selecionarPosto"
                :key="posto.key"
                :value="posto"
              >{{posto.posto}}</option>
            </select>

            <select v-model="formProd.produto">
              <option
                v-for="produto in selecionarTpProduto"
                :key="produto.key"
                :value="produto"
              >{{produto.tipoProduto}}</option>
            </select>
            
            <!-- <q-input
              filled
              dense="true"
              label="Posto *" 
              lazy-rules
              v-model="formProd.posto"
              :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
            />

            <q-input
              filled
              dense="true"
              label="tipo de Produto *"
              lazy-rules
              type="text"
              v-model="formProd.produto"
              :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
            /> -->

            <q-input
              filled
              dense="true"
              label="Descrição "
              lazy-rules
              type="text"
              v-model="formProd.descricao"
            />
            <br />

            <ba-input-currency
              filled
              currency="R$"
              dense="true"
              label="Preço *"
              lazy-rules
              type="text"
              v-model="formProd.preco"
              :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
            />

            <q-input
              filled
              label="Descrição da Promoção"
              lazy-rules
              dense="true"
              v-model="formProd.promocao"
              type="text"
            />
            <br />

            <q-input
              filled
              label="Taxa de Desconto"
              lazy-rules
              dense="true"
              v-model="formProd.desconto"
              type="text"
            />

            <div>
              <q-btn label="Cadastrar" type="submit" color="primary" />
              <q-btn label="Limpar" type="reset" color="primary" flat class="q-ml-sm" />
            </div>
            <q-linear-progress query class="q-mt-sm" v-if="loading" />
          </q-form>
        </q-tab-panel>

        <q-tab-panel name="pesquisa">
          <q-table grid :data="data" :columns="columns" row-key="name" :filter="filter" hide-header>
            <template v-slot:top-left>
              <q-input borderless dense debounce="300" v-model="filter" placeholder="Procurar">
                <template v-slot:append>
                  <q-icon name="search" />
                </template>
              </q-input>
            </template>
          </q-table>
        </q-tab-panel>
      </q-tab-panels>
    </q-card>
  </div>
</template>

<script>
import { db } from "@/config/db";
import notificacoes from "@/services/commons/notificacoes.js";

export default {
  components: {
    name: "Adicionar"
  },

  firestore() {
    return {
      produto: db.collection("produto"),
      data: db.collection("produto"),
      selecionarPosto: db.collection("posto"),
      selecionarTpProduto: db.collection("tipo-produto")
    };
  },

  data() {
    return {
      tab: "cadastro",
      formProd: {
        posto: "",
        descricao: "",
        produto: "",
        preco: "",
        promocao: "",
        desconto: ""
      },
      loading: false,
      filter: "",
      columns: [
        {
          name: "posto",
          required: true,
          label: "Posto",
          align: "left",
          field: "posto",
          sortable: true
        },
        { name: "preco", label: "Preço", field: "preco", sortable: true },
        { name: "descricao", label: "Descrição", field: "descricao" },
        { name: "produto", label: "Produto", field: "produto" },
        { name: "promocao", label: "Promoção", field: "promocao" },
        { name: "desconto", label: "Desconto", field: "desconto" }
      ],
      data: [{}]
    };
  },

  methods: {
    adicionar: function() {
      this.loading = true;
      this.$firestore.produto
        .add({
          posto: this.formProd.posto,
          descricao: this.formProd.descricao,
          produto: this.formProd.produto,
          preco: this.formProd.preco,
          promocao: this.formProd.promocao,
          desconto: this.formProd.desconto
        })
        .then(dados => {
          notificacoes.methods.info("Produto Cadastrado com Sucesso");
          this.loading = false;
        })
        .catch(error => {
          notificacoes.methods.info("Ocorreu um Erro ao Cadastrar Registro");
          this.loading = false;
        });
      this.formProd.posto = "";
      this.formProd.descricao = "";
      this.formProd.produto = "";
      this.formProd.preco = "";
      this.formProd.promocao = "";
      this.formProd.desconto = "";
      this.$router.push("/produto");
    }
  }
};
</script>



