<template>
  <div class="q-pa-md">
    <q-card>
      <q-tabs
        v-model="tab"
        dense
        class="text-grey"
        active-color="primary"
        indicator-color="primary"
        align="justify"
        narrow-indicator
      >
        <q-tab name="cadastro" label="Cadastrar" />
        <q-tab name="pesquisa" label="Pesquisar" />
      </q-tabs>

      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="cadastro">
          <q-form v-on:submit.prevent="salvar" @reset="onReset" class="q-gutter-md">
            
            <q-input
              filled
              dense="true"
              label="Descrição *"
              lazy-rules
              v-model="formTpProd.descricao"
              :rules="[ val => val && val.length > 0 || 'Campo Obrigatório']"
            />

            <div>
              <q-btn label="Cadastrar" type="submit" color="primary" />
              <q-btn label="Limpar" type="reset" color="primary" flat class="q-ml-sm" />
            </div>
          </q-form>          
        </q-tab-panel>

        <q-tab-panel name="pesquisa">
          <q-table grid :data="data" :columns="columns" row-key="name" :filter="filter" hide-header>
            <template v-slot:top-left>
              <q-input borderless dense debounce="300" v-model="filter" placeholder="Procurar">
                <template v-slot:append>
                  <q-icon name="search" />
                </template>
              </q-input>
            </template>
          </q-table>
        </q-tab-panel>        
      </q-tab-panels>
    </q-card>
  </div>
</template>

<script>
import { db } from "@/config/db";
import notificacoes from "@/services/commons/notificacoes.js";
import axios from "axios";

export default {
  components: {
    name: "Adicionar"
  },

  firestore() {
    return {
      tipoProduto: db.collection("tipo-produto"),
      // data: db.collection("tipo-produto")
    };
  },

  data() {
    return {
      tab: "cadastro",
      formTpProd: {
        descricao: "",
      },
      loading: false,
      filter: "",
      columns: [
        { name: "descricao", label: "Descrição", field: "descricao" },
      ],
      data: [{}]
    };
  },

  mounted(){
    axios.get("http://localhost:8089/tipo-produto").then(response => {
      this.data = response.data;
    });
  },

  methods: {
    salvar(data){
      this.$q.loading.show({
        message: "Gravando dados..."
      });
      axios.post("http://localhost:8089/tipo-produto", {
        descricao: this.formTpProd.descricao
      }).then(response => {
        data = response.data;
        this.$q.loading.hide();
        notificacoes.methods.info("Posto Cadastrado com Sucesso");
      });      
      this.$router.push("/tipo-produto");
    },

    adicionar: function() {
      this.$q.loading.show({
        message: 'Gravando dados...'
      })
      this.$firestore.tipoProduto
        .add({
          descricao: this.formTpProd.descricao,
        })
        .then(dados => {
          notificacoes.methods.info("Tipo de Produto Cadastrado com Sucesso");
          this.$q.loading.hide()
        })
        .catch(error => {
          notificacoes.methods.info("Ocorreu um Erro ao Cadastrar Registro");
          this.$q.loading.hide()
        });
      this.$router.push("/tipo-produto");
    },
  }
};
</script>



