<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated class="glossy">
      <q-toolbar>
        <q-toolbar-title>Localizador de Combustível</q-toolbar-title>
      </q-toolbar>
    </q-header>

    
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: "LoginTemplate",

  mounted(){
    
  },

  data() {
    return {
    
    };
  },

  methods: {
  
  }
};
</script>
